<div class="home">
  <div class="container row d-flex justify-content-between">
    <div class="col-md-5 ">
      <p class="text-light display-1 fw-bold headLine pt-5 ps-4">ONLINE</p>
      <p class="text-light display-1 fw-bold headLine ps-4">EXAMS</p>
      <p class=" ps-5 textColor">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt quis
        consequatur aliquid ab facere, eligendi praesentium impedit suscipit,
        aliquam eos explicabo numquam esse vero a?
      </p>

    </div>
    <div class="col-md-2"></div>
    <div class="col-md-5">
      <img
        src="assets/images/home.png"
        class="mt-5 "
        alt="img"
      />
    </div>
  </div>
</div>
