
.card-header{background-color:rgb(146, 81, 119);}
.card-body{background-color:lavenderblush;}
.btn{background-color:rgb(124, 55, 78);border: none;}
.home{
  background-color: #eee;
  padding-top: 50px;
  min-height: 100vh;
}

